# OS
.DS_Store
Thumbs.db

# Node dependencies
node_modules/

# SvelteKit-Build-Artefakte
build/
.svelte-kit/
/package/

# Rust/Tauri-Build-Artefakte
target/
gen/schemas

# Umgebungsvariablen
.env
.env.*
!.env.example

# Vite-Timestamps
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
